body {
    padding: 5px;
    margin: 20px;
}
header {
    margin: 10px;
}
main {
    padding: 5px;
    margin: 5px;
}
footer {
    margin-top: 10px;
    padding-top: 5px;
}
table td, table th {
    border: 1px solid black;
}
header {
    display:flex;
    flex-direction: row;
    justify-content: left;
    gap: 60px;
    align-items: center;
}
#navbar{
    display:flex;
    flex-direction: row;
    gap: 25px;
}
#nav-item {
    list-style: none;
}
#researcher-profile {
    margin:20px;
    padding:15px;
    display:flex;
    flex-direction: row;
    gap: 100px;
}
#prof-photo> img {
    width: 300px;
    height: auto;
}
#researcher-links {
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: left;
}
td {
    margin:10px;
    padding: 20px;
}
tbody > tr > td > img {
    width: 275px;
    height:auto;
}